@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

/* Define the animation */
@keyframes moveRight {
    0% {
        transform: translateX(0) rotateY('0%');
    }
    
    40%{
        transform: translateX(0) rotateY('100%');
    }
    
    50%{
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(100vw - 90vw));
    }
}

@keyframes moveLeft {
    from {
        transform: translateX(0) rotateY('0%');
    }

    40%{
        transform: translateX(0) rotateY('100%');
    }
    
    50%{
        transform: translateX(0);
    }

    to {
        transform: translateX(-10vw);
    }
}

.animate-left {
    animation: moveLeft 1.5s ease-out  0.5s forwards;
    /* animation: moveRight 1s ease-in-out 1.5s forwards; */
    /* 2s delay before animation starts */
}
.animate-right {
    animation: moveRight 1.5s ease-out 0.5s forwards;
    /* animation: moveRight 1s ease-in-out 1.5s forwards; */
    /* 2s delay before animation starts */
}

.welcome-text>h1{
    font-family: 'Young Serif', serif;
}

#page2{
    background-color: #2b2b2b !important;
    height: 100vh;
}

#pages>.inner-pages{
    height: 100vh;
}

#threadList{
    box-shadow: 
        5px 5px 5px #0497db,
        -9px 9px 9px #3b3b3b,
        9px -9px 9px #3b3b3b,
        9px -9px 9px #3b3b3b,
        9px 9px 9px #3b3b3b,
        9px 9px 9px #3b3b3b;
        border-radius:20px;
        padding:1em;
}


#first-view>.welcome-text,
#second-view>.welcome-text
{

    padding: 1em;
    background: #0000001c;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 
        10px 10px 5px #3b3b3b,
        10px 10px 5px #3b3b3b,
        10px 10px 5px #3b3b3b,
        10px 10px 5px #3b3b3b,
        10px 10px 5px #3b3b3b,
        10px 10px 5px #3b3b3b;
        border:dashed gray 1px;
    }
#first-view>.welcome-text
{
    
    box-shadow: 
    -10px 10px 5px #3b3b3b,
    -10px 10px 5px #3b3b3b,
    -10px 10px 5px #3b3b3b,
    -10px 10px 5px #3b3b3b,
    -10px 10px 5px #3b3b3b,
    -10px 10px 5px #3b3b3b;
}

.h-100{
    min-height: 100vh;
}

.pt{
    padding-top: 15vh;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-thread{
    position: fixed;
    /* z-index: 100; */
    bottom: 5vh;
    right: 5vw;
    height: 2em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

.card-img{
    height: 150px;
    width: auto;
}

.actions .bi{
    color:#fff;
}

.actions .bi:hover{
    color:#37c0ff;
}

.svg-bg{
    background-color: #060017;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%233B2104' stroke-width='7.3'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23550202'%3E%3Ccircle cx='769' cy='229' r='19'/%3E%3Ccircle cx='539' cy='269' r='19'/%3E%3Ccircle cx='603' cy='493' r='19'/%3E%3Ccircle cx='731' cy='737' r='19'/%3E%3Ccircle cx='520' cy='660' r='19'/%3E%3Ccircle cx='309' cy='538' r='19'/%3E%3Ccircle cx='295' cy='764' r='19'/%3E%3Ccircle cx='40' cy='599' r='19'/%3E%3Ccircle cx='102' cy='382' r='19'/%3E%3Ccircle cx='127' cy='80' r='19'/%3E%3Ccircle cx='370' cy='105' r='19'/%3E%3Ccircle cx='578' cy='42' r='19'/%3E%3Ccircle cx='237' cy='261' r='19'/%3E%3Ccircle cx='390' cy='382' r='19'/%3E%3C/g%3E%3C/svg%3E");
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}

.card-group{
    background-color: #0100136c;
}

.bg-darker{
    background-color: #090a2b;
}


/* Pagination */
.pagination {
    background-color: transparent; /* Dark background color */
    color: grey; /* Light text color */
    padding: 5vh;
    border-radius: 5px;
}

/* .pagination nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
} */

.pagination nav > *{
    margin: 1em 0;
}

.pagination a {
    color: black; /* Light text color */
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 3px;
    border-radius: 3px;
}

.pagination a:hover {
    background-color: #555; /* Slightly lighter background color on hover */
}

.pagination .active {
    background-color: #555; /* Background color for the active page link */
}

.pagination .disabled {
    color: #888; /* Grayed-out text for disabled links */
    cursor: not-allowed;
}

/* .pagination a.prev,
    .pagination a.next{
    font-size: 10px;
} */



svg{
    display: none;
}

/* .pagination-button {
    color: white    ;
    
} */

    
/* ******************************************************************************************************************************************************************** */
/*                                                                  Screen size based css                                                                               */
/* ******************************************************************************************************************************************************************** */
@media (max-width: 767px) {
    #first-view>.welcome-text,
    #second-view>.welcome-text
    {
        width: 70vw;
    }
}
@media (min-width:1080px){
    #second-view,#first-view{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    #first-view>.welcome-text,
    #second-view>.welcome-text
    {
        width: 40vw;
    }
}